DATABASE_URL="postgresql://username:password@localhost:5432/tradefluxbot?schema=public"
OXAPAY_MERCHANT_KEY="your-oxapay-merchant-key"
ZOHO_FROM_EMAIL="info@tradefluxbot.com"
ZOHO_CLIENT_ID="your-zoho-client-id"    
ZOHO_CLIENT_SECRET="your-zoho-client-secret"
ZOHO_REFRESH_TOKEN="your-zoho-refresh-token"
ZOHO_MAIL_ACCOUNT_ID="your-zoho-mail-account-id"
BTC_ADDRESS="your-btc-address"
LTC_ADDRESS="your-ltc-address"
USDT_BEP20_ADDRESS="your-usdt-bep20-address"
OXAPAY_STATIC_ADDRESS="your-oxapay-static-address"
JWT_SECRET="your-jwt-secret-key"
RECAPTCHA_SECRET_KEY="your-recaptcha-secret-key"
BACKEND_URL="http://localhost:3001"
PORT="3001"
NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"
ADMIN_URL="http://localhost:3002"
